# WaveLab — Dépendances Python
# Installer avec : pip install -r requirements.txt

# Interface graphique
PyQt6>=6.4.0
pyqtgraph>=0.13.0

# Traitement des données
pandas>=1.5.0
numpy>=1.23.0

# Boîtier MCC USB-1808X (Windows)
# Nécessite MCC DAQ Software installé au préalable :
# https://digilent.com/reference/software/mccdaq-cd/start
mcculw>=1.0.0

# Boîtier National Instruments
# Nécessite NI-DAQmx installé au préalable :
# https://www.ni.com/fr-fr/support/downloads/drivers/download.ni-daq-mx.html
nidaqmx>=0.6.5
